.scroll-to-top {
  position: fixed;
  right: 30px;
  bottom: 25px;
  font-size: 40px;
  background-color: #1c5356;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.4s;

  &::before,
  &::after {
    content: '';
    width: 20px;
    height: 4px;
    background-color: #fff;
    position: absolute;
    border-radius: 5px;
    top: 45%;
  }

  &::before {
    transform: rotate(45deg);
    left: 40%;
  }

  &::after {
    transform: rotate(-45deg);
    right: 40%;
  }

  &:hover {
    box-shadow: 0 0 6px 1px rgb(84, 254, 175);
  }

  &:active {
    opacity: 0.3;
  }
}