.certificateCards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;

  &__item {
    width: 420px;
    padding: 15px;
    background: #1c5356;
    color: white;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 0 6px 1px rgb(84, 254, 175);
  }

  &__image {
    height: 210px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__title {
    font-size: 24px;
    text-shadow: 0 0 5px #00ffff80;
    font-weight: bold;
    color: #88ffed;
    margin-bottom: 20px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 19px;
  }

  &__platform {
    & a {
      padding-right: 25px;
      position: relative;
      transition: 0.3s;

      &::after {
        content: '';
        position: absolute;
        background-image: url('../../../assets/images/arrowRight-icon.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 18px;
        height: 10px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: transform 0.3s;
      }

      &:hover {
        color: #88ffed;
        text-shadow: 0 0 3px white;
      }

      &:hover::after {
        transform: translate(12px, -50%);
      }
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  max-width: 50%;
  display: flex;
  justify-content: center;
}

.modal-image {
  max-width: 80%;
  max-height: 700px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
  cursor: pointer;
}