.hero {
  background-image: url('../../assets/images/hero-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  position: relative;

  height: calc(100vh - 33.33px);
  max-width: 100%;
  
  margin-bottom: 50px;

  &::after {
    content: '';
    background-color: rgba(0, 0, 0, 0.45);
    position: absolute;
    inset: 0;
    z-index: 0;
  }

  &__content {
    max-width: 660px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    z-index: 1;
  }

  &__title {
    font-size: 54px;
    margin-bottom: 20px;
    z-index: 1;

    &--name-color {
      color: #23bdc5;
    }
  }

  &__subtitle {
    font-size: 36px;
    margin-bottom: 30px;
    z-index: 1;
  }

  &__description {
    font-size: 18px;
    z-index: 1;
  }

  &__anchor {
    position: absolute;
    bottom: -210px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    padding: 7px 7px 30px 7px;
    box-shadow: 0 0 6px 1px rgb(84, 254, 175);
    border-radius: 10px;
    font-size: 18px;
    transition: background-color 0.4s, color 0.4s;

    &::before,
    &::after {
      content: '';
      width: 20px;
      height: 3px;
      border-radius: 5px;
      background-color: #23bdc5;
      position: absolute;
      bottom: 17px;
      transform: rotate(45deg);
      transition: bottom 0.4s;
    }

    &::before {
      right: 47%;
      // transform: translateY(-50%);
    }

    &::after {
      left: 47%;
      // transform: translateX(-82%);
      transform: rotate(-45deg);
    }

    &:hover {
      background-color: #23bdc549;
      color: #23bdc5;
    }

    &:hover::after,
    &:hover::before {
      bottom: 10px;
    }

    &:active {
      opacity: 0.5;
    }
  }

}