.about {

  margin-bottom: 50px ;

  &__title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 30px;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__img {
    max-width: 500px;
    width: 100%;
    display: block;
    height: auto;
    margin-right: 50px;
    border-radius: 5px;
  }

  &__paragraph {
    font-size: 17px;
  }

  &__paragraph:not(:last-child) {
    margin-bottom: 25px;  
  } 
}