.contact {

  &__title {
    text-align: center;
    margin-bottom: 25px;
  }

  &__block {
    margin: 0 auto;
    max-width: 500px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
      row-gap: 10px;
    }
  }

  &__item {
    position: relative;
  }

  &__item:not(:last-child) {
    margin-right: 60px;

    @media (max-width: 768px) {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    padding: 5px 10px;
    transition: opacity 0.4s;

    &::before {
      content: '';
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      width: 30px;
      height: 30px;
      left: -29px;
      top: 3px;
    }

    &--gmail::before {
      background-image: url('../../../assets/images/gmail-icon.svg');
    }

    &--tel::before {
      background-image: url('../../../assets/images/tel-icon.svg');

      @media (max-width: 768px) {
        left: -61px;
      }
    }

    &--git::before {
      background-image: url('../../../assets/images/github-white-icon.svg');

      @media (max-width: 768px) {
        left: -68px;
      }
    }

    &--telegram::before {
      background-image: url('../../../assets/images/telegram-icon.svg');

      @media (max-width: 768px) {
        left: -66px;
      }
    }

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.2;
    }
  }
}