.about {

  &__title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 30px;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__img {
    max-width: 600px;
    display: block;
    margin-right: 50px;
  }

  &__text p:not(:last-child) {
    margin-bottom: 25px;
  } 
}