.tech {
  background-color: #001a1c;
  padding: 10px 0;

  &__list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    gap: 25px;
  }
}