.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__img {
    max-width: 200px;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.2;
    }
  }

  &__list {
    display: flex;
  }

  &__item {
    transition: opacity 0.4s;
    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.2;
    }

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__link {
    padding: 5px;
    cursor: pointer;
  }
}

